@page "/"

<PageTitle>About</PageTitle>

<div>
    <p>Nothing special here. Chess browser should work as intended!</p>

    <p><strong>Authors:</strong> Aiden de Boer and Josh Greenbaum</p>
    <p><strong>Date:</strong> 2025-03-07</p>
</div>
